<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body th:fragment="header">
	<div class="logo">
		<span class="logo-name">R3busFormazione</span>
	</div>
	
	<div class="session-menu" th:if="${#authorization.expr('isAuthenticated()')}">
		<span th:text="${#authentication.name}" class="role-name">username</span>
		<form th:action="@{/logout}" method="post">
			<button type="submit">Logout</button>
		</form>
	</div>
	
	<div class="session-menu" th:if="!${#authorization.expr('isAuthenticated()')}">
		<form th:action="@{/login}" method="get">
			<button type="submit">Login</button>
		</form>
	</div>
</body>
</html>