<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	th:lang="${#locale.language}">
<head>
<title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">R3busFormazione</title>
<meta charset="UTF-8" />

<!-- IE html5 fix -->
<!--[if lte IE 8]>
<script type="text/javascript">
		(function() {
			var html5 = ['article','aside','audio','canvas','datalist','details','figure','footer','header','hgroup','mark','menu','meter','nav','output','progress','section','time','video'];
			for (var i = 0; i < html5.length; i++) document.createElement(html5[i]);
		})();
</script>
<![endif]-->

<link th:href="@{/favicon.ico}" rel="icon" type="image/x-icon" />

<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/css/forms.css}" rel="stylesheet" type="text/css" />

</head>
<body>
	<div class="main">
		<header class="header">
			<div class="header_resize" th:include="fragments/header :: header"></div>
		</header>
		<section class="main_resize">
			<div class="main_left" th:include="fragments/sidebar :: sidebar"></div>
			<div class="main_right">
				<div class="headline">
					<h2 th:text="${headline}">Hello</h2>
				</div>
				<div layout:fragment="content" class="content"></div>
			</div>
		</section>
		<footer class="footer">
			<div class="footer_resize" th:include="fragments/footer :: footer"></div>
		</footer>
	</div>
</body>
</html>
