<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head></head>
<body th:fragment="sidebar">
	<nav class="menu">
		<ul>
			<!-- TODO: add .active dynamically to current page -->
			<li><a th:href="@{/}">Home</a></li>
			<li><a th:href="@{/login}" th:text="#{pages.login}">Login</a></li>
			<li><a th:href="@{/portfolio}">Portfolio</a></li>
			<li><a th:href="@{/about}" th:text="#{pages.about}">About Us</a></li>
		</ul>
	</nav>
</body>
</html>