@charset "utf-8";

.user-form {
	margin: 0;
	padding: 5px 5px;
}

.user-form * {
	color: #F00;
}

.user-form ol, .user-form ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.user-form li {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	display: block;
	clear: both;
}

.user-form li:after {
	content: " ";
	display: block;
	clear: both;
	height: 0;
	width: 0;
}

.user-form li.buttons {
	margin: 5px 0;
	clear: both;
}

.user-form label {
	margin: 0;
	width: 150px;
	display: block;
	padding: 10px 0;
	color: #222;
	font: normal 12px Arial, Helvetica, sans-serif;
	text-transform: capitalize;
	float: left;
}

.user-form input.text {
	width: 530px;
	border: 1px solid #e9e9e9;
	margin: 2px 0;
	padding: 5px 2px;
	height: 16px;
	background: #fff;
	float: left;
}

.user-form textarea {
	width: 530px;
	border: 1px solid #e9e9e9;
	margin: 2px 0;
	padding: 2px;
	background: #fff;
	float: left;
}

.user-form .buttons button {
	padding: 10px 300px 10px 30px;
	margin: 10px 0 0 0;
	border: 0;
	color: #fff;
	float: left;
	background: #777;
	cursor: pointer;
}

.user-form .buttons button:hover {
	background: #444;
}