@charset "utf-8";

.user-form {
	margin: 0;
	padding: 5px 5px;
}

.user-form .form-control {
	width: 80%;
}

.user-form ol, .user-form ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.user-form li {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	display: block;
	clear: both;
}

.user-form li:after {
	content: " ";
	display: block;
	clear: both;
	height: 0;
	width: 0;
}

.user-form .control-label {
	margin: 0;
	width: 150px;
	display: block;
	padding: 10px 0;
	color: #222;
	font: normal 12px Arial, Helvetica, sans-serif;
	text-transform: capitalize;
	float: left;
}


.user-form .btn {
	padding: 10px 300px 10px 30px;
	margin: 10px 0 0 0;
	border: 0;
	color: #fff;
	float: left;
	background: #777;
	cursor: pointer;
}

.user-form .btn:hover {
	background: #444;
}