<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">
<head>
<title th:text="#{|pages.${pageID}.title|}">New/Modify Activity</title>
</head>
<body>
	<div layout:fragment="content">
		<div id="slider2">
			<div class="controls-center">
				<h3 th:text="#{|pages.${pageID}.headline|}">Activity Data</h3>
			</div>
		</div>
		<form th:action="@{''}" method="post" th:object="${activity}" class="user-form">
			<ul th:if="${#fields.hasAnyErrors()}" class="error-list">
				<li th:each="err : ${#fields.allErrors()}" th:text="${err}">Field Error</li>
			</ul>
			<ul>
				<li>
					<label for="nome" th:text="#{activity.name}">Activity Name</label>
					<input th:field="*{nome}" class="text" th:errorclass="invalid" type="text" required />
				</li>
				<li>
					<label for="orarioInizio" th:text="#{activity.begin_time}">Begin Time</label>
					<input th:field="*{orarioInizio}" class="text" th:errorclass="invalid" type="datetime-local" required />
				</li>
				<li>
					<label for="orarioFine" th:text="#{activity.end_time}">End Time</label>
					<input th:field="*{orarioFine}" class="text" th:errorclass="invalid" type="datetime-local" required />
				</li>
				<li class="buttons">
					<button type="submit" th:text="#{|pages.${pageID}.save|}">Save</button>
				</li>
			</ul>
		</form>
	</div>
</body>
</html>
