<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}"
	th:with="headline=#{|pages.${pageId}.headline|}">
<head>
<title th:text="#{|pages.${pageId}.title|}">Activity List</title>
</head>
<body>
	<div layout:fragment="content">
		<p th:if="${param.message}" th:with="type = ${param.type} ?: 'info'"
			th:class="|alert alert-${type}|" th:text="#{|pages.${pageId}.message.${param.message}|}">Some message</p>
		<form th:action="@{${activityActionUrl}}" method="post" th:unless="${#lists.isEmpty(activityList)}">
			<table class="activity-list table">
				<thead>
					<tr>
						<th th:if="${multiSelect}">
							<input type="checkbox"
								onclick="that=this; $('.selection-box').each(function(){ this.checked=that.checked })"/>
						</th>
						<th th:text="#{activity.name}">Name</th>
						<th th:text="#{activity.begin_time}">Begin</th>
						<th th:text="#{activity.end_time}">End</th>
						<th th:if="${editActivity}"></th>
					<tr>
				</thead>
				<tbody>
					<tr th:each="activity : ${activityList}" th:object="${activity}">
						<td th:if="${multiSelect}">
							<input type="checkbox" class="selection-box" name="selection" th:value="*{id}"/>
						</td>
						<td th:text="*{nome}">Activity 1</td>
						<td th:text="*{{orarioInizio}}">2018-06-06 12:00</td>
						<td th:text="*{{orarioFine}}">2018-06-06 14:00</td>
						<td th:if="${editActivity}">
							<a th:href="@{|${activity.id}/modifica|}"
								th:text="#{activity.edit}">Modify</a>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="activity-actions">
				<button class="btn btn-primary" type="submit" name="select"
					th:if="${multiSelect}"
					th:text="#{|pages.${pageId}.send_selection|}">Send Selection</button>
				<a class="btn btn-primary" href="inserisci"
					th:if="${newActivity}"
					th:text="#{activity.new}">New Activity</a>
			</div>
		</form>
		<p class="alert alert-info" th:text="#{activity.nothing}" th:if="${#lists.isEmpty(activityList)}">No activities</p>
	</div>
</body>
</html>
