<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}"
	th:with="headline=#{pages.delete_learner.headline}">
<head>
<title th:text="#{pages.delete_learner.title}">Manage Learner</title>
</head>
<body>
	<div layout:fragment="content">
		<form th:action="@{''}" method="post" class="user-form">
			<p class="alert alert-danger" th:text="#{pages.delete_learner.confirm_message}">Are you sure?</p>
			<button class="btn btn-danger" type="submit" th:text="#{pages.delete_learner.delete}">Delete</button>
		</form>
	</div>
</body>
</html>
