<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}"
	th:with="headline=#{pages.login.title}">
<head>
<title th:text="#{pages.login.title}">Login</title>
</head>
<body>
	<div layout:fragment="content">
		<form th:action="@{/login}" method="post" class="user-form">
			<ul>
				<li>
					<label for="username">ID</label>
					<input name="username" id="username" class="text" type="text" required />
				</li>
				<li>
					<label for="password">Password</label>
					<input name="password" id="password" class="text" type="password" required />
				</li>
				<li class="buttons">
					<button type="submit" th:text="#{pages.login.login}">Login</button>
				</li>
			</ul>
			<div th:if="${param.error}" th:text="#{pages.login.invalid_credentials}">Invalid credentials</div>
			<div th:if="${param.logout}" th:text="#{pages.login.logged_out}">Logged out</div>
		</form>
	</div>
</body>
</html>
