<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}"
	th:with="headline=#{pages.login.title}">
<head>
<title th:text="#{pages.login.title}">Login</title>
</head>
<body>
	<div layout:fragment="content">
		<form th:action="@{/login}" method="post" class="user-form">
			<div class="alert alert-danger"
				th:if="${param.error}" th:text="#{pages.login.invalid_credentials}">Invalid credentials</div>
			<div class="alert alert-danger"
				th:if="${param.oautherror}" th:text="#{pages.login.oauth_error}">OAuth error</div>
			<div class="alert alert-info"
				th:if="${param.logout}" th:text="#{pages.login.logged_out}">Logged out</div>
			<div class="form-group">
				<label class="control-label" for="username">ID</label>
				<input name="username" id="username" class="form-control" type="text" required />
			</div>
			<div class="form-group">
				<label class="control-label" for="password">Password</label>
				<input name="password" id="password" class="form-control" type="password" required />
			</div>
			<button class="btn btn-primary" type="submit" th:text="#{actions.login}" style="margin-right:10px">Login</button>
			<th:block th:each="url : ${urls}" th:object="${url}">
				<a class="btn btn-default" th:href="@{*{value}}">
					<span class="fab" th:classappend="|fa-*{key.toLowerCase()}|"></span>
					<span th:text="#{actions.login_with(*{key})}">Login with Service</span>
				</a>
			</th:block>
		</form>
	</div>
</body>
</html>
