<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}"
	th:with="headline=#{pages.login.title}">
<head>
<title th:text="#{pages.login.title}">Login</title>
</head>
<body>
	<div layout:fragment="content">
		<form th:action="@{/login}" method="post" class="user-form">
			<div class="alert alert-danger"
				th:if="${param.error}" th:text="#{pages.login.invalid_credentials}">Invalid credentials</div>
			<div class="alert alert-info"
				th:if="${param.logout}" th:text="#{pages.login.logged_out}">Logged out</div>
			<div class="form-group">
				<label class="control-label" for="username">ID</label>
				<input name="username" id="username" class="form-control" type="text" required />
			</div>
			<div class="form-group">
				<label class="control-label" for="password">Password</label>
				<input name="password" id="password" class="form-control" type="password" required />
			</div>
			<button class="btn" type="submit" th:text="#{actions.login}">Login</button>
		</form>
	</div>
</body>
</html>
