<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}"
	th:with="headline=#{pages.manage_learner.headline}">
<head>
<title th:text="#{pages.manage_learner.title}">Manage Learner</title>
</head>
<body>
	<div layout:fragment="content">
		<form th:action="@{''}" method="post" class="user-form">
			<ul>
				<li>
					<label for="taxid" th:text="#{learner.taxid}">Fiscal Code</label>
					<input name="taxid" id="taxid" class="text" type="text" required />
				</li>
				<li class="buttons">
					<button type="submit" th:text="#{pages.manage_learner.manage}">Save</button>
				</li>
			</ul>
		</form>
	</div>
</body>
</html>
