<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}"
	th:with="headline=#{pages.manage_learner.headline}">
<head>
<title th:text="#{pages.manage_learner.title}">Manage Learner</title>
</head>
<body>
	<div layout:fragment="content">
		<form th:action="@{''}" method="post" class="user-form">
			<div class="form-group">
				<label for="taxid" th:text="#{learner.taxid}">Fiscal Code</label>
				<div class="input-group">
					<input name="taxid" id="taxid" class="form-control" type="text" required />
					<div class="input-group-addon">
						<span class="fa fa-user"></span>
					</div>
				</div>
			</div>
			<button class="btn btn-primary" type="submit" th:text="#{pages.manage_learner.manage}">Save</button>
		</form>
	</div>
</body>
</html>
