<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}"
	th:with="headline=#{pages.new_learner.headline}">
<head>
<title th:text="#{pages.new_learner.title}">New Learner</title>
</head>
<body>
	<div layout:fragment="content">
		<form th:action="@{''}" method="post" th:object="${learner}" class="user-form">
			<th:block th:if="${#fields.hasAnyErrors()}">
				<p class="alert alert-warning" th:each="err : ${#fields.allErrors()}" th:text="${err}">Field Error</p>
			</th:block>
			<div class="form-group">
				<label for="codiceFiscale" th:text="#{learner.taxid}">Fiscal Code</label>
				<div class="input-group">
					<input th:field="*{codiceFiscale}" class="form-control" th:errorclass="invalid" type="text" required />
					<div class="input-group-addon">
						<span class="fa fa-barcode"></span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="nome" th:text="#{learner.name}">First Name</label>
				<input th:field="*{nome}" class="form-control" th:errorclass="invalid" type="text" required />
			</div>
			<div class="form-group">
				<label for="cognome" th:text="#{learner.surname}">Last Name</label>
				<input th:field="*{cognome}" class="form-control" th:errorclass="invalid" type="text" required />
			</div>
			<div class="form-group">
				<label for="email" th:text="#{learner.email}">E-mail</label>
				<div class="input-group">
					<input th:field="*{email}" class="form-control" th:errorclass="invalid" type="email" />
					<div class="input-group-addon">
						<span class="fa fa-at"></span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="telefono" th:text="#{learner.phone}">Phone</label>
				<div class="input-group">
					<input th:field="*{telefono}" class="form-control" th:errorclass="invalid" type="tel" />
					<div class="input-group-addon">
						<span class="fa fa-phone"></span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="dataNascita" th:text="#{learner.birth_date}">Birth Date</label>
				<div class="input-group date" data-datetimepicker-format="YYYY-MM-DD">
					<input th:field="*{dataNascita}" class="form-control" th:errorclass="invalid" type="text" />
					<div class="input-group-addon">
						<span class="fa fa-calendar"></span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="luogoNascita" th:text="#{learner.birth_place}">Birth Place</label>
				<div class="input-group">
					<input th:field="*{luogoNascita}" class="form-control" th:errorclass="invalid" type="text" />
					<div class="input-group-addon">
						<span class="fa fa-map-marker"></span>
					</div>
				</div>
			</div>
			<button class="btn btn-primary" type="submit" th:text="#{pages.new_learner.signup}">Login</button>
		</form>
	</div>
</body>
</html>
