<!DOCTYPE html>
<html layout:decorate="~{fragments/layout}">
<head>
<title>Portfolio</title>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('div.blog2').hover(function() {
			$(this).stop().animate({
				backgroundColor : "#FFFFFF"
			}, 300);
		}, function() {
			$(this).stop().animate({
				backgroundColor : "#f6f6f6"
			}, 300);
		});
	});
</script>
</head>
<body>
	<div layout:fragment="content">
		<div id="slider2">
			<div class="controls-center">
				<h3>Portfolio</h3>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</div>
		<div class="clr"></div>
		<h2>&nbsp;</h2>
		<div class="blog2">
			<img src="images/port_1.jpg" alt="" width="203" height="166"
				border="0" />
			<p>
				<strong>Project Item</strong><br /> Vestibulum sit amet neque eu
				neque suscipit consequat quis vel risus. <br /> <a href="#">visit
					site</a>
			</p>
		</div>
		<div class="blog2">
			<img src="images/port_2.jpg" border="0" alt="" />
			<p>
				<strong>Project Item</strong><br /> Vestibulum sit amet neque eu
				neque suscipit consequat quis vel risus. <br /> <a href="#">visit
					site</a>
			</p>
		</div>
		<div class="blog2">
			<img src="images/port_3.jpg" border="0" alt="" />
			<p>
				<strong>Project Item</strong><br /> Vestibulum sit amet neque eu
				neque suscipit consequat quis vel risus. <br /> <a href="#">visit
					site</a>
			</p>
		</div>
		<div class="blog2">
			<img src="images/port_4.jpg" border="0" alt="" />
			<p>
				<strong>Project Item</strong><br /> Vestibulum sit amet neque eu
				neque suscipit consequat quis vel risus. <br /> <a href="#">visit
					site</a>
			</p>
		</div>
		<div class="blog2">
			<img src="images/port_5.jpg" border="0" alt="" />
			<p>
				<strong>Project Item</strong><br /> Vestibulum sit amet neque eu
				neque suscipit consequat quis vel risus. <br /> <a href="#">visit
					site</a>
			</p>
		</div>
		<div class="blog2">
			<img src="images/port_6.jpg" border="0" alt="" />
			<p>
				<strong>Project Item</strong><br /> Vestibulum sit amet neque eu
				neque suscipit consequat quis vel risus. <br /> <a href="#">visit
					site</a>
			</p>
		</div>
		<div class="clr"></div>
		<h2>&nbsp;</h2>
	</div>
</body>
</html>
