<div class="logo">
	<a href="#"> <img src="images/logo.gif" width="223" height="72"
		border="0" alt="" />
	</a>
</div>

<div class="clr"></div>

<div class="menu">
	<ul>
		<!-- TODO: add .active dynamically to current page -->
		<li><a href="/"><span>Home</span></a></li>
		<li><a href="#"><span>Services</span></a></li>
		<li><a href="/portfolio"><span>Portfolio</span></a></li>
		<li><a href="/about"><span>About Us</span></a></li>
		<li><a href="/contact"><span>Contact Us</span></a></li>
	</ul>
</div>

<div class="clr"></div>

<h2>&nbsp;</h2>
<h2>Our News</h2>

<p>
	<span>12 Dec 2015 | 0 comments</span><br /> <strong>Duis nec
		porttitor lorem</strong><br /> Mauris et nisi urna nonfaucibus magna. Integer
	lacus ante then ullamcorper ut vulputate..
</p>
<p>
	<span>14 Dec 2015 | 0 comments</span><br /> <strong>Duis nec
		porttitor lorem</strong><br /> Mauris et nisi urna nonfaucibus magna. Integer
	lacus ante then ullamcorper ut vulputate..
</p>

<h2>&nbsp;</h2>
<h2>What They Say</h2>

<p>&quot;Quis autem vel eum iure reprehenderit qui in ea voluptate
	velit esse voluptas nulla pariatur?&quot;</p>
<p>
	<em><strong>by: John S., webdesigner</strong></em>
</p>